# Exploratory Data Analysis (EDA)

## Summari

In [3]:
import pandas as pd

# Load the data to understand its structure and contents
file_path = '../data/CANIS_PRC_state_media_on_social_media_platforms-2023-11-03.xlsx'
data = pd.read_excel(file_path)

# Display the first few rows of the dataframe and summary information
data_info = data.info()
first_rows = data.head()

data_info
# output_notebook()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 758 entries, 0 to 757
Data columns (total 26 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Name (English)           758 non-null    object
 1   Name (Chinese)           319 non-null    object
 2   Region of Focus          758 non-null    object
 3   Language                 758 non-null    object
 4   Entity owner (English)   758 non-null    object
 5   Entity owner (Chinese)   755 non-null    object
 6   Parent entity (English)  758 non-null    object
 7   Parent entity (Chinese)  751 non-null    object
 8   X (Twitter) handle       573 non-null    object
 9   X (Twitter) URL          573 non-null    object
 10  X (Twitter) Follower #   573 non-null    float64
 11  Facebook page            326 non-null    object
 12  Facebook URL             326 non-null    object
 13  Facebook Follower #      326 non-null    float64
 14  Instragram page          139 non-null    object
 15  Instagram URL            139 non-null    object
 16  Instagram Follower #     139 non-null    float64
 17  Threads account          35 non-null     object
 18  Threads URL              35 non-null     object
 19  Threads Follower #       35 non-null     float64
 20  YouTube account          159 non-null    object
 21  YouTube URL              159 non-null    object
 22  YouTube Subscriber #     159 non-null    float64
 23  TikTok account           121 non-null    object
 24  TikTok URL               121 non-null    object
 25  TikTok Subscriber #      118 non-null    float64
dtypes: float64(6), object(20)
memory usage: 154.1+ KB

In [4]:
# We will summarize the 'Region of Focus' column to understand the frequency of each region mentioned in the dataset

# Getting the count of each unique value in the 'Region of Focus' column
region_of_focus_counts = data['Region of Focus'].value_counts()
region_of_focus_counts

Region of Focus
Anglosphere        235
China               34
Japan               20
USA                 20
la Francophonie     14
                  ...
Estonia              1
Yemen                1
Montenegro           1
Hungary              1
Namibia              1
Name: count, Length: 172, dtype: int64

In [5]:
# Language raking
language_counts = data['Language'].value_counts()

language_counts

Language
English             441
Chinese              77
Spanish              40
French               30
Arabic               29
Japanese             20
German               13
Portuguese           11
Vietnamese            8
Urdu                  7
Korean                5
Russian               5
Burmese               5
Persian               4
Tamil                 4
Thai                  4
Sinhalese             4
Serbian               3
Turkish               3
Hebrew                3
Bahasa Indonesia      3
Polish                3
Italian               3
Laotian               2
Cantonese             2
Esperanto             2
Hindi                 2
Greek                 2
Swahili               2
Albanian              2
Pashto                2
Hausa                 2
Ukrainian             2
Mongolian             1
Bulgarian             1
Bengali               1
Romanian              1
Bahasa Malaysia       1
Nepalese              1
Latvian               1
Kyrgyz                1
Belarusian            1
Hungarian             1
Czech                 1
Estonian              1
Khmer                 1
Name: count, dtype: int64

In [6]:
# Enity Owner Ranking
entity_owner_counts = data['Entity owner (English)'].value_counts()

entity_owner_counts

Entity owner (English)
Ministry of Foreign Affairs                     286
China Media Group (CMG)                         238
China Daily Press                                37
Xinhua News Agency                               34
People's Daily Press                             34
                                               ...
Chengdu Municipal People's Government             1
Jiaxing Radio and Television Media Co., Ltd.      1
Ministry of Commerce Information Office           1
Qiushi Magazine Press                             1
Wenshan Radio & Television Station                1
Name: count, Length: 87, dtype: int64

In [7]:
# Parent Entiy Owner Ranking
parent_entity_owner_counts = data['Parent entity (English)'].value_counts()

parent_entity_owner_counts

Parent entity (English)
Ministry of Foreign Affairs                         293
Central Publicity Department                        275
State Council                                        38
Central Committee of the Chinese Communist Party     35
Shanghai Municipal Committee                         13
                                                   ...
Chengdu Municipal Committee                           1
Jiaxing Municipal Committee                           1
Ministry of Commerce (MOFCOM)                         1
Shaoxing Municipal People's Government                1
Wenshan Municipal People's Government                 1
Name: count, Length: 69, dtype: int64

In [14]:
# Their favorite sns platform

selected_columns = ['X (Twitter) handle', 'Threads account', 'YouTube account', 'TikTok account', 'Facebook URL']  # Replace with your actual column names

non_null_counts = data[selected_columns].count().sort_values(ascending=False)

print(non_null_counts)

X (Twitter) handle    573
Facebook URL          326
YouTube account       159
TikTok account        121
Threads account        35
dtype: int64